@import "../variables.scss";

.button {
    display: flex;
    justify-content: center !important;
    align-items: center !important;
    border: $phoneme-border solid black;
    height: calc($button * 2);
    padding: 0 $button;
    border-radius: $button;

    &:hover {
        cursor: pointer;
    }

    &.selected {

        &.Vowels {
            border-color: $vowels;
            border-width: $container-border;
            padding: 0 calc($button - 2px);
        }

        &.Monophthongs {
            border-color: $monophthongs;
            border-width: $container-border;
            padding: 0 calc($button - 2px);
        }

        &.Diphthongs {
            border-color: $diphthongs;
            border-width: $container-border;
            padding: 0 calc($button - 2px);
        }

        &.Short {
            border-color: $short;
            background-color: $short;
        }

        &.Long {
            border-color: $long;
            background-color: $long;
        }

        &.Consonants {
            border-color: $consonants;
            border-width: $container-border;
            padding: 0 calc($button - 2px);
        }

        &.Pairs {
            border-color: $pair;
            border-width: $container-border;
            padding: 0 calc($button - 2px);
        }

        &.Plosives {
            border-color: $plosive;
            background-color: $plosive;
        }

        &.Fricatives {
            border-color: $fricative;
            background-color: $fricative;
        }

        &.Affricates {
            border-color: $affricate;
            background-color: $affricate;
        }

        &.Nasals {
            border-color: $nasal;
            background-color: $nasal;
        }

        &.Approximants {
            border-color: $approximant;
            background-color: $approximant;
        }

        &.Voiced {
            border-color: $voiced;
            background-color: $voiced;
        }

        &.Semi-vowels {
            border-color: $semivowel;
            border-width: $container-border;
            padding: 0 calc($button - 2px);
        }

        &.Bilabial,
        &.Alveolar,
        &.Palato-alveolar,
        &.Velar,
        &.Labio-dental,
        &.Dental,
        &.Glottal,
        &.Postalveolar,
        &.Palatal {
            background-color: $place;
        }
    }
}

// .selected {
//     border-color: darkgray;
//     background-color: darkgray;
// }

.inactive {
    border-color: lightgray;
    color: lightgray;

    &:hover {
        cursor: auto;
    }
}

.main {
    font-weight: 700;
}

.voice {
    color: black;
    border-color: black;
}