@import "../variables.scss";

.consonants {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    border: $container-border solid transparent;
    border-radius: $border-radius;
    padding: $padding;
    gap: $padding;
    width: calc(($container-border * 18) + ($padding * 25) + ($phoneme-dimensions * 8));
    margin-bottom: 1rem;

    @media screen and (max-width: 540px) {
        padding: calc($padding * $factor);
        gap: calc($padding * $factor);
        width: calc(($container-border * 2) + (86.6667px * 4) + ($padding * $factor * 5));
    }

    &_pair,
    &_semivowels {
        display: flex;
        border: $container-border solid transparent;
        border-radius: $border-radius;
        padding: $padding;
        gap: calc(($padding * 3) + ($container-border * 2));  
        
        @media screen and (max-width: 540px) {
            padding: calc($padding * $factor);
            gap: calc(($padding * 3 * $factor) + ($container-border * 2)); 
        }
    }

    &_semivowels {
        margin: calc($gap * -1);
        height: 59.4667px;

        @media screen and (max-width: 540px) {
            padding: calc($padding * $factor);
            gap: calc(($padding * 3 * $factor) + ($container-border * 2)); 
            height: 42.2667px;
        }
    }

    &_nasal {
        display: flex;
        border: $container-border solid transparent;
        border-radius: $border-radius;
        padding: $padding;
        gap: calc(($padding * 3) + ($container-border * 2));

        @media screen and (max-width: 540px) {
            padding: calc($padding * $factor);
            gap: calc(($padding * 3 * $factor) + ($container-border * 2));
        }
    }

    &_approximant {
        display: flex;
        border: $container-border solid transparent;
        border-radius: $border-radius;
        padding: $padding;
        gap: calc(($padding * 3) + ($container-border * 2));

        @media screen and (max-width: 540px) {
            padding: calc($padding * $factor);
            gap: calc(($padding * 3 * $factor) + ($container-border * 2));
        }
    }

    &_h {
        border: $container-border solid transparent;
        border-radius: $border-radius;
        padding: $padding;

        @media screen and (max-width: 540px) {
            padding: calc($padding * $factor);
        }
    }
}

.consonants.consonantsLine {
    border-color: $consonants;
}

.consonants_pair.pairsLine {
    border-color: $pair;
}