@import "../variables.scss";

.controlPanel {
    position: absolute;
    top: 0;
    left: calc($container-margin - $control-panel-width);
    display: flex;
    flex-direction: column;
    gap: calc($gap*2);
    width: $control-panel-width;

    @media screen and (max-width: 1140px) {
        position: static;
        width: 100%;
    }

    &_vowels {
        width: $control-panel-width-vowels;
        display: flex;
        flex-direction: column;
        gap: $gap;

        @media screen and (max-width: 1140px) {
            width: 100%;
        }

        & > div:nth-child(1) {
            align-self: flex-start;
        }

        & > div:not(:first-child) {
            display: flex;
            flex-direction: column;
            gap: $gap;
            align-items: flex-end;

            @media screen and (max-width: 1140px) {
                flex-direction: row;
                flex-wrap: wrap;
                margin-right: $gap;
            }
        }

        &.selected {
            padding: 0 calc($button - 2px);
        }

        @media screen and (max-width: 1140px) {
            flex-direction: column;
            margin-left: $gap;
        }

    }

    &_consonants {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: $gap;
        margin: 0 $gap;

        & > div:nth-child(1) {
            align-self: flex-start;
        }

        &_container {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            gap: calc($gap * 2);

            @media screen and (max-width: 1140px) {
                flex-direction: column;
            }

            & > div {
                display: flex;
                flex-direction: column;
                align-items: flex-end;
                gap: $gap;

                @media screen and (max-width: 1140px) {
                    flex-direction: row;
                    flex-wrap: wrap;
                    gap: $gap;
                }
            }
        }

    }

    &_voiced {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: $gap;

        @media screen and (max-width: 1140px) {
            flex-direction: row;
            margin-left: $gap;
            margin-bottom: $gap;
        }

        &_voicedCon {
            display: flex;
            gap: $padding;
            align-self: center;

            @media screen and (max-width: 1140px) {
                margin-left: calc($gap*2);
            }
        }

        &_voiceless,
        &_voiced {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-around;
            border: 1px solid black;
            border-radius: calc($border-radius/2);
            padding: 0 5px;
            width: 4.5rem;
            height: 2.5rem;

            @media screen and (max-width: 1140px) {
                flex-direction: row;
                width: auto;
                gap: $gap;
                height: calc($button*2);
                margin-bottom: $gap;
            }
        }

        &_voiceless {
            background-color: lighten(grey, 40%);
    
            & > div:nth-child(1) {
                font-size: 0.9rem;
            }
    
            & > div:nth-child(2) {
                font-size: 0.8rem;
                font-style: italic;
            }
        }
    
        &_voiced {
            background-color: grey;
    
            & > div:nth-child(1) {
                font-size: 0.9rem;
            }
    
            & > div:nth-child(2) {
                font-size: 0.8rem;
                font-style: italic;
            }
        }
    }
}