@import "../variables.scss";

.modeButton:hover {
    cursor: pointer;
}

.modeButton {
    &_quiz {
        font-size: 40px;
        
        &.selected {
            font-weight: 700;
        }
    }
}