@import "../variables.scss";

.monothongs {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    border: $container-border solid transparent;
    border-radius: $border-radius;
    padding: $padding;
    gap: calc(($padding * 3) + ($container-border * 2));
    width: calc(($container-border * 8) + ($padding * 11) + ($phoneme-dimensions * 4))
}