@import "../variables.scss";

.phoneme {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: $phoneme-dimensions;
    width: $phoneme-dimensions;
    border: $phoneme-border solid black;
    border-radius: $border-radius;
    font-weight: 700;
    font-size: 1.5rem;
}

.fricative {
    background-color: $fricative;
}

.fricative.voiceless {
    background-color: lighten($fricative, 35%);
}

.plosive {
    background-color: $plosive;
}

.plosive.voiceless {
    background-color: lighten($plosive, 30%);
}

.affricate {
    background-color: $affricate;
}

.affricate.voiceless {
    background-color: lighten($affricate, 40%);
}

.approximant {
    background-color: $approximant;
}

.nasal {
    background-color: $nasal;
}

.short {
    background-color: yellow;
}

.long {
    background-color: purple;
}