@import "../variables.scss";

.phoneme {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: $phoneme-dimensions;
    width: $phoneme-dimensions;
    border: $phoneme-border solid black;
    border-radius: $border-radius;
    font-weight: 700;
    font-size: 1.5rem;

    @media screen and (max-width: 540px) {
        height: calc($phoneme-dimensions * $factor);
        width: calc($phoneme-dimensions * $factor);
    }

    &:hover {
        opacity: 0.5;
    }

    &.pointer:hover {
        cursor: pointer; 
    }

}

.fricative {
    background-color: $fricative;
}

.fricative.voiceless {
    background-color: lighten($fricative, 35%);
}

.plosive {
    background-color: $plosive;
}

.plosive.voiceless {
    background-color: lighten($plosive, 30%);
}

.affricate {
    background-color: $affricate;
}

.affricate.voiceless {
    background-color: lighten($affricate, 40%);
}

.approximant {
    background-color: $approximant;
}

.nasal {
    background-color: $nasal;
}

.short {
    background-color: $short;
}

.long {
    background-color: $long;
}

.voiced {
    background-color: $voiced;
}

.voiceless {
    background-color: lighten(grey, 40%);
}