@import "./variables.scss";

.App {

    & > h1 {
        text-align: center;
    }
}

.container {
    display: flex;
    justify-content: center;
}

.chartContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.vowels {
    display: flex;
    justify-content: space-between;
    width: 518px;
    border: $container-border solid transparent;
    border-radius: $border-radius;
    padding: $padding;
    margin-bottom: $padding;

    &.vowelsLine {
        border-color: $vowels;
    }
}

.keyboardContainer {
    position: absolute;
    top: 0;
    right: calc($container-margin - $keyboard-container-width);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-self: flex-start;
    width: $keyboard-container-width;
    background-color: white;

    @media screen and (max-width: 1070px) {
        position: relative;
    }
}