@import "./variables.scss";

.App {

    & > h1 {
        text-align: center;
    }
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;

    @media screen and (max-width: 1000px) {
        width: 100%;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
    }
}

.chartContainer {
    align-self: flex-start;
    display: flex;
    flex-direction: column;
    align-items: center;

    @media screen and (max-width: 1000px) {
        align-self: center;
    }
}

.chart {
    display: inline-block;
}

.vowels {
    display: flex;
    justify-content: space-between;
    border: $container-border solid transparent;
    border-radius: $border-radius;
    padding: $padding;
    margin-bottom: $padding;

    &.vowelsLine {
        border-color: $vowels;
    }
}

.keyboardContainer {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-self: flex-start;
    width: 10rem;
    margin-left: 2rem;

    @media screen and (max-width: 1000px) {
        align-self: center;
    }
}