html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

html,
body {
    padding: 0;
    margin: 0;
    user-select: none;
    font-family: Arial, Helvetica, sans-serif;
    background-color: antiquewhite;
    min-height: 100%;
}

html.search {
    cursor: url('./img/search_cursor.png'), help;
}