$phoneme-dimensions: 3rem;
$phoneme-border: 1px;
$border-radius: 0.8rem;
$container-border: 3px;
$padding: 0.2rem;
$gap: 0.4rem;
$button: 10px;
$container-margin: -2rem;
$keyboard-container-width: 15rem;
$control-panel-width: 17rem;
$control-panel-width-vowels: 10rem;

// Line Colors
$vowels: red;
$monophthongs: blue;
$diphthongs: green;
$consonants: black;
$pair: gray;
$semivowel: brown;

// Solid Colors
$fricative: blue;
$plosive: red;
$affricate: green;
$approximant: magenta;
$nasal: purple;
$voiced: grey;
$short: yellow;
$long: darkorange;
$place: blue;

// Responsive Dimensions -Phonemes
$factor: calc(2/3);

// Animation
$time: 2s;
$mode: linear;
$duration: infinite;