$phoneme-dimensions: 3rem;
$phoneme-border: 1px;
$border-radius: 0.8rem;
$container-border: 3px;
$padding: 0.2rem;
$gap: 0.4rem;
$button: 10px;
$container-margin: -2rem;
$keyboard-container-width: 15rem;
$control-panel-width: 10rem;

// Line Colors
$vowels: red;
$monothongs: blue;
$dipthongs: green;
$consonants: black;
$pair: gray;

// Solid Colors
$fricative: blue;
$plosive: red;
$affricate: green;
$approximant: magenta;
$nasal: purple;
$voiced: grey;
$short: yellow;
$long: darkorange;